*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* regole header */
header {
    height: 100px;
    
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;

}
/* regole nav */
nav{
    display: flex;
    justify-content: space-between;
    /* margin: 0 1%; */
    background-color: white;
   
}
/* regole sezioni del nav */
.header-section{
    display: flex;
    height: 100px;
    
    
}
/* regole div del nav */
.header-section div {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2%;
    
}
.header-section div:hover {
    border-bottom: 3px solid black;
}
.header-section a{
    text-decoration: none;
}
/* regole tasti blu */
.blueoption{
    background-color: blue;
    padding: 10%;
    color: rgb(255, 255, 255);
    }
.blueoption-big{
    background-color: rgb(73, 73, 234);
    text-decoration: none;
    color: white;
    padding: 2%;
    max-width: 70%;
    text-align: center;
    
}
/* regole main */

main{
    background-color: rgb(143, 238, 238);
}
/* regole jumbo */
.macrosection{
    /* height: 600px; */
    background-color: rgb(143, 238, 238);
    /* margin-top: 100px; */
    margin-bottom: -4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.macrosection div {
     height:40%;
    /* width: 35%;    */
    
}
/* regolo titolo jumbo */
.titolo {
    margin-top: 100px;
    background-color: rgb(143, 238, 238);
    font-size: 32px;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    
    }
    .colonna-jumbo{
        position: relative;
        width: 30%;
        display: flex;
        flex-direction: column;
        
        /* justify-content: space-between; */
        
    }
    #arrow{
     
        color: black;
        font-size: 100px;
        
        }
    
    .jumbo-image {
        width: 40%;
       
    }
    .jumbo-image img{
        max-width: 100%;
        
    }
    


    .selezioni{
        background-color: rgb(255, 255, 255);
        height: 150px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10%;
    }
    
    /* sezione grande  */
    
 #sezione-grande {
   height: 1500px;
   background-color: white;
   margin: 0;
   /* gap: 10%; */
   display: flex;
    justify-content: center;
    align-items: center;
 }
 .cella-totale {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    flex-basis: 22%;
    margin: 3% 3%;
    margin-bottom: 0;
    padding: 1%;
    position: relative;

    
}
 #sezione-grande div{
       
    /* width: 25%; */
 }
 #sezione-grande li{
    list-style:  none;
    font-size: 15px;
    gap: 10%;
    
 }
 #blueoption-minisez{
    align-self: center;
 }
 /* cella orizzontale */
 .orizzontale{
   background-color: rgb(252, 253, 254);
   flex-basis: 70%;
   display: flex;
    flex-direction: column;
    justify-content: space-around;
   
   }
  
   .orizzontale a{
    position: absolute;
    top: 10%;
    right: 10%;
   }
/* regole titolo cella */
.titolo-cella {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
        
}
/* regole minisezione*/
.minisezione{
    background-color: rgb(255, 255, 255);
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minisezione section{
    height: 70%;
    /* border: 1px solid black;
    border-style: dashed; */
   }

.minisezione :first-child{
    
    flex-basis: 45%;
}
.minisezione img{
   max-width: 100%;
}
.minisezione :last-child {
    /* background-color: fuchsia; */
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    flex-basis: 30%;
    padding: 5%;
    
}
/* fine regole minisezione */

/* regole titoletto prima drop operations */
#postmini {
    font-size: 30px;
    background-color: orangered;
    text-align: center;

}
/* regole sezione drop operations */
.drop-operation {
    height: 800px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
    margin-top: 5%;
}
.drop-operation div {
    background-color: yellow;
    border: 1px solid black;
    border-style: dashed;
    width: 26%;

}
/* regole footer */
footer{
    
}
.footersection {
    height: 400px;
    background-color: rgb(44, 190, 30);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
    
}
.footersection div {
    background-color: rgb(220, 26, 51);
    border: 1px solid black;
    border-style: dashed;
    width: 12%;
    }