*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* regole header */
header {
    height: 100px;
    position: fixed;    
    top: 0;
   
    right: 0;
    min-width: 100%;
    z-index: 900;
   
    
}
/* regole nav */
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
   background-color: white;
}
/* regole sezioni del nav */
.header-section{
    display: flex;
    height: 100px;
    width: 100%;  
}
.destra{
    justify-content: flex-end;
}
/* regole div del nav */
.header-section div {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
     margin: 0 2%;
    
}
.header-section div:hover {
    border-bottom: 3px solid black;
}
.header-section a{
    text-decoration: none;
}
/* regole tasti blu */
.blueoption{
    background-color: blue;
    padding: 10%;
    color: rgb(255, 255, 255);
    }
.blueoption-big{
    background-color: rgb(73, 73, 234);
    text-decoration: none;
    color: white;
    /* padding: 2%; */
    max-width: 70%;
    text-align: center;
    
}
/* regole main */


/* regole jumbo */
.macrosection{
    /* height: 600px; */
    background-color: rgb(143, 238, 238);
    margin-bottom: -4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.macrosection div {
     height:40%;
    /* width: 35%;    */
    
}
/* regolo titolo jumbo */
.titolo {
    margin-top: 100px;
    
    font-size: 32px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 50px;
    /* display: flex; */
    
    }
    .colonna-jumbo{
        /* position: relative; */
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5%;
       
        
    }
    #arrow{
     
        color: black;
        font-size: 100px;
        
        }
    /* immagine jumbo */
    .jumbo-image {
        width: 40%;
        margin-top: 5%;
       
    }
    .jumbo-image img{
        max-width: 100%;
        
    }
    


    .selezioni{
        background-color: rgb(255, 255, 255);
        height: 150px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10%;
    }
    .selezioni h2{
        font-size: 25px;
    }
    
    /* sezione grande  */
    
 #sezione-grande {
   height: 1500px;
   background-color: white;
   margin: 5% 10%;
   display: flex;
    justify-content: center;
    justify-content: space-around;
 }
 .cella-totale {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    flex-basis: 22%;
    margin-bottom: 0;
    padding: 1%;

    
}
/* regole titolo cella */
.titolo-cella {
    background-color: white;
    border-bottom: 1px solid black;
    text-align: center;
}
 
 #sezione-grande li{
    list-style:  none;
    font-size: 15px;
    gap: 10%;
 }
 #blueoption-minisez{
    align-self: center;
 }
 /* cella orizzontale */
 .orizzontale{
   background-color: rgb(252, 253, 254);
   flex-basis: 70%;
   position: relative;
    flex-direction: column;
    justify-content: space-between; */
   }
  
   .orizzontale a{
    position: absolute;
    padding: 3%;
    top: 10%;
    right: 10%;
   }

/* regole minisezione*/
.minisezione{
    background-color: rgb(255, 255, 255);
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minisezione section{
    height: 70%;
   
   }

.minisezione :first-child{
    
    flex-basis: 45%;
}
.minisezione img{
   max-width: 100%;
}
.minisezione :last-child {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    padding: 5%;
    
}
/* fine regole minisezione */

/* regole titoletto prima drop operations */
#postmini {
    font-size: 35px;
    margin-left: 15%;
    

}
/* regole sezione drop operations */
.drop-operation {
    height: 1200px;
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
    margin-top: 5%;
}
.drop-operation div {
    
    width: 28%;

}
.drop-operation img {
    max-width: 100%;
    margin: 0 auto;
}
/* regole footer */
footer{
    
}
.footersection {
    height: 400px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
    position: relative;
    
}
.footersection div {
    border: 1px solid black;
    border-style: dashed; */
    width: 12%;
    margin-top: 3%;
    }
    .footersection h3{
        color: white;
    }
    .footersection ul{
        list-style:  none;
        margin-top: 10%;
        line-height: 28px;
        color: gray;
    }
    #seleziona-lingua {
       position: absolute;
       bottom: 13%;
       left: 15%;
       color: gray;
       background-color: black;
    }
    